$primary: hsl(193, 38%, 86%);
$secondary: hsl(150, 100%, 66%);

$grayBlue: hsl(217, 19%, 38%);
$darkGray: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

$quote: 28px;
$font: 'Manrope', sans-serif;
