@use 'variables';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
  background-color: variables.$darkBlue;
  font-family: variables.$font;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  position: relative;
  padding: 30px 40px;
  max-width: 375px;
  background-color: variables.$darkGray;
  border-radius: 25px;
  &__box{
    display: flex;
    flex-direction: column;
  }
  &__title{
    padding: 20px 0;
    color: variables.$secondary;
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
  }
  &__text{
    font-size: variables.$quote;
    color: variables.$primary;
    text-align: center;
  }
  &__divider{
    padding: 20px 0;
    &--large{
      display: none;
    }
  }
  &__icon-box{
    position: absolute;
    border-radius: 50%;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: variables.$secondary;
    border: none;
    cursor: pointer;
    transition: box-shadow, .5s;
    &:hover{
      box-shadow: 0px 0px 20px 5px variables.$secondary;
    }
  }
  &__icon{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25%;
    left: 25%;
  }
}
@media screen {
  @media (min-width: 900px)
  {
  .card{
    max-width: 600px;
    &__divider{
      padding: 20px 0;
      &--large{
        display: block;
      }
      &--small{
        display: none;
      }
    }
  }
  }
}